body {
    background-image: linear-gradient(to right top, #786bd1, #438ae8, #00a5f0, #00bced, #34d0e4, #4fdae2, #67e3e1, #7eecdf, #78f0e3, #71f4e8, #68f7ec, #5ffbf1);
    margin-top: 50px;
    font-family: 'Lato';
}

.item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 4em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em black;
    opacity: 0.85;
    color: gray;
    scale: 1.2;
}

.item.completed {
    text-decoration: line-through;
    color: aaa;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}

.h1{
    display: inline-block;
    background-color: black;
    opacity: 0.7;
    padding-left 50%;
    text-decoration: underline;
}

.deleteAll{
    color: dodgerblue;
    border-radius: 5px;
}

.banner{
    background-image: linear-gradient(to right top, #786bd1, #7778d7, #7783dc, #798fe1, #7d9ae4, #6da7ee, #5db4f6, #4ec1fa, #00d2fc, #00e2f2, #00f0df, #5ffbc4);
}
